<nav id="nav" class="navigation" role="navigation">
    <ul>
        <li{% if page.body_class == 'home' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/">Home</a>
        </li>
    </ul>
    <h2 class="gamma">Journeys</h2>
    <ol>
        <li{% if page.body_class == 'source-control' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/journeys/source-control.html">Source Control</a>
        </li>
        <li{% if page.body_class == 'security' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/journeys/">Security</a>
        </li>
        <li{% if page.body_class == 'code-review' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/journeys/">Code Review</a>
        </li>
        <li{% if page.body_class == 'ci' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/journeys/">Continuous Integration</a>
        </li>
        <li{% if page.body_class == 'observability' %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/journeys/observatbility.html">Observability</a>
        </li>
    </ol>
    <a id="close-btn" class="btn" href="#top"><span aria-hidden>✖</span><span class="sr-only">Close menu</span></a>
</nav>
